<div class="title">
  <p id="title-name">Jogo Da Velha</p>
  <p *ngIf="winnerPlayer == '-' ">Jogador Atual: {{currentPlayer}}</p>
  <p *ngIf="winnerPlayer != '-' ">Vencedor: {{winnerPlayer}}</p>
  <button id="bt-reiniciar" (click)="ReiniciarTabuleiro()">Reiniciar</button>
</div>
<div class="box">
  <ng-container *ngFor="let row of [0,1,2]">
    <ng-container *ngFor="let col of [0,1,2]">
      <div class="item" id="11" (click)="MarcarQuadrado(row,col)">{{boardMap[row][col]}}</div>
    </ng-container>
  </ng-container>

</div>
