<div class="title">
  <p id="title-name">Jogo Da Velha</p>
  <p >Jogador Atual: <span id="player">O</span></p>
  <p>Vencedor: <span id="winner">-</span></p>
</div>
<div class="box">
  <div class="item" id="11">-</div>
  <div class="item" id="12">-</div>
  <div class="item" id="13">-</div>
  <div class="item" id="21">-</div>
  <div class="item" id="22">-</div>
  <div class="item" id="23">-</div>
  <div class="item" id="31">-</div>
  <div class="item" id="32">-</div>
  <div class="item" id="33">-</div>
</div>
